body {

  }


h1{
  border-bottom: solid;
}

.contact{
  border: groove;
  
}

img{
  width: 100px;
  height: 100px;
}

.W1 {
  border: double black;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  margin-bottom: 5%; 
}

.W2{
  border: double black;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  margin-bottom: 5%; 
}
  
.W3{
  border: double black;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  margin-bottom: 5%; 
}

.E1{
  border: double;
}


h4 {
  font-family: Arial, Helvitica, San-Serif, Bold;
}
