body {
 background-image : url(http://api.thumbr.it/whitenoise-361x370.png?background=ffffffff&noise=5c5c5c&density=13&opacity=62);
}

h1{
  border-bottom: solid;
}

.contact{
  border: groove;
  
}

img{
  width: 100px;
  height: 100px;
}

.W1 {
  border: double black;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  margin-bottom: 5%; 
}

.W2{
  border: double black;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  margin-bottom: 5%; 
}
  
.W3{
  border: double black;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  margin-bottom: 5%; 
} 

h4 {
  font-family: Arial, Helvitica, San-Serif, Bold;
}


h6 {
  background-color: white;
}
